main {
  display: flex;
}
#image-section {
  width: 55%;
  background: url("../styles/assets/twitter.jpg") no-repeat center center;
  background-size: cover;
}
#content-section {
  width: 45%;
}
#content-section-wrapper {
  margin: 30px;
}
nav img {
  height: 60px;
  padding-top: 20px;
}
