main {
  display: flex;
}
#image-section {
  width: 55%;
  background: url("../styles/assets/twitter.jpg") no-repeat center center;
  background-size: cover;
}
#content-section {
  width: 45%;
}
#content-section-wrapper {
  margin: 30px;
}
#heading1 {
  font-size: 58px;
  flex-wrap: wrap;
  font-family: "Work Sans", sans-serif;
}
#heading2 {
  font-size: 35px;
  font-family: "Work Sans", sans-serif;
}
